:root {
	interpolate-size: allow-keywords;
	scrollbar-gutter: stable;
}
.icon {
	display: inline-block;
	aspect-ratio: 1 1;
	width: 1.5rem;
}

.tasksContainer {
	height: fit-content;
}
.tasksDetail {
	&[open] {
		margin-bottom: 0;
	}
	&::details-content {
		block-size: 0;
		transition: 0.2s ease-out;
		overflow: hidden;
		transition-behavior: allow-discrete;
	}
	&[open]::details-content {
		block-size: auto;
	}
}

.taskList {
	padding-left: 0;
	&:not(:has(:nth-child(1))) {
		display: none;
	}
}
.taskListItem {
	list-style: none;
	margin: 0;
	padding: 0;
}
.taskListItemLabel:has(input:checked) {
	text-decoration: line-through;
	color: rgb(from currentcolor r g b / 0.5);
}

.formBottomContainer {
	position: fixed;
	bottom: 0;
	inset: auto 0 0 0;
	background-color: rgba(from --pico-background-color r g b a);
}
